<mat-card class="example-card">
    
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Full name" name = "fullName" [(ngModel)]="fullName" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Username" name = "username" [(ngModel)]="username" required>
            </mat-form-field></td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" name = "password" [(ngModel)]="password" required>
          </mat-form-field></td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="E-mail" name = "email" [(ngModel)]="email" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone number" name = "phoneNumber" [(ngModel)]="phoneNumber"  required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Height"  name = "height" [(ngModel)]="height" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Weight" name = "weight" [(ngModel)]="weight" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Age" name = "age" [(ngModel)]="age" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Desires" name = "desires" [(ngModel)]="desires" required>
              </mat-form-field>
            </td>
          </tr>
    
    </table>
      </form>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="signUp()">Create my account</button>
      
    </mat-card-actions>
  </mat-card>
 