<div id="header-wrapper">
    <div id="header" class="container"></div>

    <div id="banner-wrapper">
        <div id="banner" class="container">
            <div class="title">
                <h2> FITNESS </h2>
            </div>
            <ul class="actions">
                <li><a routerLink="/new"  class="button" >Schedule training</a></li>
                <li><a routerLink="/new"  class="button" >Scheduled trainings</a></li>
                <li><a routerLink="/new"  class="button" >Schedule appointment</a></li>
                <li><a routerLink="/new"  class="button" >Training plan</a></li>
                <li><a routerLink="/new"  class="button" >Diet plan</a></li>
                <li><a routerLink="/new"  class="button" >Membership</a></li>
                
            </ul>
        </div>
    </div>
</div>